/*=== GERAL =================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 1rem = 10px */
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;

  text-align: center;
  max-width: fit-content;
}

.menu {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  width: 100%;
  box-shadow: 1px 1px 5px #888888;
}

.menu ul li {
  display: inline-block;
  list-style: none;
  padding: 1rem;
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu a:hover {
  color: rgb(107, 107, 107);
}
#card {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  max-width: 90rem;
  max-height: max-content;
  
}
#img-avatar {
  margin: 0 auto;
  width: 20rem;
  height: 20rem;
}
#img-avatar img {
  border-radius: 100%;
  width: 100%;
}
#card a {
  text-decoration: none;
  color: black;
}

section {
  text-align: left;
  padding: 1rem;

}

section h1 {
  margin-bottom: 1.2rem;
}


.projetos .projetos-cartoes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 

}

.projetos-cartoes .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 2rem;
  border: 0.2rem solid rgb(111, 111, 111);
}
.projetos-cartoes p {
  font-weight: bold;
  text-align: center;
}
.projetos-cartoes img {
  width: 20rem;
  height: 20rem;
}
.projetos-cartoes .item a {
  
  background-color:  rgba(0, 0, 0, 0.44);;
  color: white;
  text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    margin: 1rem;
    
}

.cards {
  background-color: rgba(240, 248, 255, 0.8);
  padding: 2rem;
  border-bottom: 0.2rem solid rgb(111, 111, 111);
}

.cards li {
  list-style: none;
}
.cards svg {
  width: 2.2rem;
  height: 1.8rem;
  color: rgb(34, 104, 104);
}

.timeline {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.timeline-item-one {
  padding: 2em 2em 2em;
  position: relative;
  color: rgba(black, 0.7);
  border-left: 0.2rem solid rgb(191, 191, 191);
}

.timeline-item-one p::before {
  content: '';
  margin: 0 auto;
  width: 0.6rem;
  height: 0.6rem;
  display: block;
  top: 0.8rem;
  position: absolute;
  left: -0.6rem;
  border-radius: 50%;
  border: 0.2rem solid rgb(160, 160, 160, 0);
  background: rgb(0, 0, 0);
}

.timeline-item-one p::after {
  content: '01/06/2021';
  margin: 0 auto;
  width: 10rem;
  height: 1.8rem;
  display: block;
  top: 0.9rem;
  position: absolute;
  left: 0.5rem;

  border: 0.2rem solid rgb(160, 160, 160, 0);
  background:  rgba(0, 0, 0, 0.44);
}

.timeline-item-two {
  padding: 2em 2em 2em;
  position: relative;
  color: rgba(black, 0.7);
  border-left: 0.2rem solid rgb(191, 191, 191);
}

.timeline-item-two p::before {
  content: '';
  margin: 0 auto;
  width: 0.6rem;
  height: 0.6rem;
  display: block;
  top: 0.8rem;
  position: absolute;
  left: -0.6rem;
  border-radius: 50%;
  border: 0.2rem solid rgb(160, 160, 160, 0);
  background: rgb(0, 0, 0);
}

.timeline-item-two p::after {
  content: '10/01/2022';
  margin: 0 auto;
  width: 10rem;
  height: 1.8rem;
  display: block;
  top: 0.9rem;
  position: absolute;
  left: 0.5rem;

  border: 0.2rem solid rgb(160, 160, 160, 0);
  background:  rgba(0, 0, 0, 0.44);
}

.timeline-item-three {
  padding: 2em 2em 2em;
  position: relative;
  color: rgba(black, 0.7);
  border-left: 0.2rem solid rgb(191, 191, 191);
}

.timeline-item-three p::before {
  content: '';
  margin: 0 auto;
  width: 0.6rem;
  height: 0.6rem;
  display: block;
  top: 0.8rem;
  position: absolute;
  left: -0.6rem;
  border-radius: 50%;
  border: 0.2rem solid rgb(160, 160, 160, 0);
  background: rgb(0, 0, 0);
}

.timeline-item-three p::after {
  content: '01/06/2022';
  margin: 0 auto;
  width: 10rem;
  height: 1.8rem;
  display: block;
  top: 0.9rem;
  position: absolute;
  left: 0.5rem;

  border: 0.2rem solid rgb(160, 160, 160, 0);
  background:  rgba(0, 0, 0, 0.44);
}
footer {
  padding: 2rem;
  color: rgb(0, 0, 0);
  background-color: #888888;
}

/*=== resposividade =================================*/

@media screen and (min-width: 600px) {
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20rem;
    height: 10rem;
    width: 100%;
    background-color: #dddddd;
    font-size: 2rem;
  }
  #card {
    margin-top: 1.1rem;
    width: 30rem;
    height: 50rem;
    box-shadow: 1px 10px 12px #888888;
    background-color: rgba(0, 0, 0, 0.44);
  }
  .fix {
    position: fixed;

    top: 2rem;
  }
  section {
    width: 100%;
  }

  .projetos .projetos-cartoes {
    display: flex;
    flex-direction: row;
   
    
  }
  .projetos-cartoes .item  {
    display: flex;
    align-items: center;
 
   }
  .main-container {
    display: grid;
    grid-template-columns: 30rem 1fr;
    grid-template-areas: '.col-a .col-b';
    margin-inline: auto;
    padding-inline: 15rem;
    gap: 2rem;
  }

  .col-b {
    background-color: rgb(255, 255, 255);
  }
}
